body{
    margin: 0;
    background: url(/imgs/background.jpg);
    background-size: cover;
}

.headerMan {
    background-color: #000000a4;
    display: flex;
    list-style: none;
    font-size: 8em;
    margin: 0;
    font-family: 'Poiret One', cursive;
    cursor: pointer;
    
}

a {
    text-decoration: none;
    color: white;
    margin-left: 1em;
}

li {
    padding: 20px
}

.end {
    margin-left: auto;
    margin-right: 1rem;
    
}

#container {
    background: #000000a4;
    color: white;
    margin-left: 50vw;
    padding-top: inherit;
    margin-top: 0;
    padding-bottom: 3vw;
    border-radius: 0px 0px 0px 15px;
    text-align: center;
    justify-content: center;
    color: goldenrod;
}

h3 {
    margin-top: 0;
    font-size: 10rem;
    font-family: 'Poiret One', cursive;
}

.inputText {
    background: black;
    color: white;
    border: solid 1px white;
    padding-top: 3rem;
    width: 70em;
    align-items: flex-end;
    
}

.loginP {
    font-size: 9rem;
    font-family: 'Poiret One', cursive;
}

.buTon {
    background: black;
    color: hsl(43, 74%, 49%);
    border: solid 1px white;
    border-radius: 5px;
    width: 45rem;
    padding: 5px 0 5px 0;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 6rem;
    font-family: 'Poiret One', cursive;
}

.logo{
    width: 50rem;
    padding-bottom: 1rem;
}
#ali {
    justify-content: end;
}