body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.fundo{
    margin: 0;
    background: url(./imgs/background.jpg);
    background-size: cover;
    background-position: fixed;
}

.headerMan {
    background-color: #000000a4;
    display: flex;
    list-style: none;
    font-size: 2em;
    margin: 0;
    font-family: 'Poiret One', cursive;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

li {
    padding: 20px
}

.end {
    margin-left: auto;
    margin-right: 1rem;
    
}

#login {
    background: #000000a4;
    color: white;
    margin-left: 50vw;
    padding-top: inherit;
    margin-top: 0;
    padding-bottom: 1.1vw;
    border-radius: 0px 0px 0px 15px;
    text-align: center;
    justify-content: center;
    color: goldenrod;
}

h3 {
    margin-top: 0;
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
}

.inputText {
    background: black;
    color: white;
    border: solid 1px white;
    padding-top: 0.3rem;
    width: 15rem;
    justify-items: auto;
}

.loginP {
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
}

.buTon {
    background: black;
    color: hsl(43, 74%, 49%);
    border: solid 1px white;
    border-radius: 5px;
    width: 10rem;
    padding: 5px 0 5px 0;
    margin-left: 1rem;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
}

.logo{
    width: 13rem;
    padding-bottom: 1rem;
}

.sobrenos {
    background-color: white;
    background-color: #000000a4;
    clip-path: polygon(100% 0, 25% 54%, 100% 100%, 0 100%, 0% 50%, 0 0);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 95%;
}
.h2sobre {
    margin-top: 0;
}
.section-sobre{
    background-image: url(./imgs/Fundo-3.jpg);
    background-size: cover;
    background-position: fixed;
    display: flex;
}
.p-sobre {
    width: 4%;
}
